*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(68, 68, 68);
}

#time{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border: 5px solid rgb(29, 163, 29);
    box-shadow: -5px 5px 50px rgb(29, 163, 29);
    color: aliceblue;
    width: 500px;
    height: 200px;
    margin:3rem auto;
    border-radius: 30px;
}

.timer{
    width: 100px;
    background-color: rgb(227, 241, 224);
    text-align: center;
    border-radius: 50%;
    height: 100px;
    margin: 1rem 0;
    box-shadow: 0 0 10px;
    color: #333;
}

.timer h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}